/* Toggle switch CSS */
.switch {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 24px;
  border-radius: 17px;
  background-color: grey;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.switch::after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.3s linear;
}

input[type="checkbox"]:checked + .switch::after {
  transform: translateX(21px);
}

input[type="checkbox"]:checked + .switch {
  background-color: #4096ff;
}

input[type="checkbox"] {
  display: none;
}

/* Navigation links CSS */
.navbar {
  display: flex;

  .nav-item {
    list-style-type: none;
    margin: 5px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
